lab_base_name = "lab"
lab_base_tld = "lan"
win_admin_user = "administrator"
win_admin_password = "changeme"
splunk_password = "changeme"
splunkbase_token = "xxx-xxxx-xxx-xxxx"
ansible_awx_password = "changeme"
ansible_awx_pg_password = "changeme"
ansible_awx_secret_key = "changeme"
public_domain = "example.com"
win08_ami = "xxxxxxxxx"
win10_ami = "xxxxxx"